{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Résultat des recherches{% endblock %}

{% block body %}
    <h4>Nombre de résulat de votre recherche : {{ results | length }}</h4>
    <ul>
        {% for result in results %}
            <li>
                <h5>{{ result.title | highlight(word) | raw }}</h5>
                <p>{{ result.summary | highlight(word) | raw }}</p>
                <p class="cut-text">{{ result.content | highlight(word) | raw }}</p>
                <a href="{{ path('article_show', {'id': result.id}) }}">Voir la suite</a>
            </li>
        {% else %}
            <li>
                Auncun résultat
            </li>
        {% endfor %}
    </ul>
{% endblock %}